<template name="intro1">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 intro-body">
      <p>Welcome and thank you for agreeing to participate in this study. Please turn off or silence your cell-phone or remove any other potential distractions.</p>

      <p>Before beginning, please close all other windows and browsers that are currently open on your computer. Images in this survey will not display properly otherwise.</p>

      <a href='/i2'><button class="btn btn-default">Continue</button></a>

    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</template>
